.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.item{
    background-color: red;
    width: 128px;
    height: 128px;
    border: 1px solid black;
    font-size: 48px;
    text-align: center;
}
